:root {
  margin: 0;
  padding: 0;

  font-family: system-ui;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100dvh;
  display: flex;
  align-items: center;
  background-color: #fff;
}

#root {
  inline-size: 100dvw;
  block-size: 100dvh;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
main {
  container-type: size;
  flex: 1;
  max-height: 100dvh;
}

/* .logo {
  position: absolute;
  z-index: 10;
} */
