.grid {
  --hcol: minmax(35px, 0.5fr);
  --col: minmax(90px, 1fr);
  --hrow: minmax(45px, 1.5fr);
  --row: minmax(25px, 1fr);

  display: grid;
  grid-template-rows: var(--hrow) repeat(auto-fit, var(--row));
  grid-template-columns:
    var(--hcol) var(--col) var(--col) var(--col) var(--col) var(--col)
    var(--col) var(--col);

  inline-size: 100cqi;
  block-size: 100cqb;

  overflow: auto;
  scroll-behavior: smooth;

  background-color: #fff;
}

.slots {
  display: contents;
}

.header {
  position: sticky;
  inset-block-start: 0;
  z-index: 3;

  display: grid;
  grid: subgrid / subgrid;
  grid-area: 1 / span 8;

  font-size: clamp(11px, min(2cqb, 2cqi), 13px);
  font-weight: 500;

  color: #4f4f4f;

  user-select: none;
  pointer-events: none;
  touch-action: none;
}

.colHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;

  background-color: #fffd;
  backdrop-filter: blur(6px);

  padding: 1cqb 1cqi;

  border-block-end: 0.5px solid #e1e1e1;
}

.row {
  display: contents;
}

.cell {
  min-block-size: max(25px, 3cqb);
  user-select: none;
}

.rowHeader {
  --font-size: clamp(9px, min(2cqb, 2cqi), 11px);

  position: sticky;
  left: 0;
  z-index: 2;

  font-variant-numeric: tabular-nums;
  font-size: var(--font-size);
  text-align: right;

  background: #fff;
  color: #757575;
  padding-inline-end: 5px;
  translate: 0 calc(-1 * var(--font-size) + 0.5px);

  user-select: none;
  pointer-events: none;
  touch-action: none;
}

.row:nth-child(n + 2):not(:last-child) > .cell:not(:first-child) {
  border-block-end: 0.5px solid #e1e1e1;
}

.cell:nth-child(n + 2):not(:last-child),
.colHeader:not(:first-child) {
  border-inline-end: 0.5px solid #d1d1d1;
}

.slotOuter {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
  padding: 3px;
}

.slot {
  all: unset;
  flex: 1;
  display: flex;
  box-sizing: border-box;
  z-index: 1;

  margin: 0;
  padding: 0.25cqb 0.25cqi;
  border-radius: clamp(3px, 0.5cqb, 15px);
  border: none;

  font-weight: 500;
  font-size: clamp(11px, min(2cqb, 2cqi), 15px);

  color: hsla(var(--hue), 100%, 20%, 0.85);
  background-color: hsla(var(--hue), 75%, 70%, 0.35);
  outline: 1px solid hsla(var(--hue), 100%, 70%, 0.75);

  overflow: hidden;
  text-overflow: ellipsis;

  user-select: none;

  -webkit-tap-highlight-color: transparent;
}
.slot:focus {
  outline: 2px solid hsla(var(--hue), 50%, 50%, 0.75);
}
.NEW,
.NEW:focus {
  display: flex;
  justify-content: space-between;
  --hue: 250;
  color: hsla(var(--hue), 0%, 20%, 0.7);
  background-color: hsla(var(--hue), 0%, 75%, 0.25);
  outline: none;
  border-radius: 0;
  /* font-size: 10px;
  padding: 0 1px; */
}
.CC {
  --hue: 200;
}
.LP {
  --hue: 350;
}
.Off {
  --hue: 55;
  background-color: hsla(var(--hue), 100%, 75%, 1);
  background-image: repeating-linear-gradient(
    330deg,
    #fff,
    #fff 7px,
    transparent 7px,
    transparent 8px
  );
}

.from {
  align-self: start;
}

.to {
  align-self: end;
}
